<div {{bind-attr class=view.divclass}}>
  <div class="form-group">
    <label {{bind-attr class=view.labelClass}}>{{view.label}}</label>
    <div class="col-sm-7">
      {{input value=view.text class='form-control'}}
    </div>
  </div>
</div>