<div class="col-md-4">
  <div class="form-group">
    <label class="col-sm-5 control-label">{{view.label}}</label>
    <div class="col-sm-7">
      {{input value=view.text class='form-control'}}
    </div>
  </div>
</div>