.pagination{margin: 0;}
.table{margin: 5px 0 10px 0;}
.search-form .form-control{width: 120px;}
.bs-docs-nav {margin-bottom: 0;background-color: #fff;border-bottom: 0}
.nav{margin-bottom: 5px;}
.row .title{text-align: right; font-weight: bold;}
.form-group{margin-bottom: 5px;}